.title {
  max-width: 800px;
  padding-left: 25%;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-family: Calibri;
}

.error-message {
  color: red;
}
.show-more-button {
  background: none;
  border: none;
  color: #007bff; 
  text-decoration: underline; 
  cursor: pointer;
  padding-bottom: 20px; 
  font-family: inherit; 
  margin-left: 300px;
  font-family: Calibri;
}
