.search-container {
  margin-bottom: 20px;
  text-align: right; 
  padding-top: 10px;
  margin-right: 200px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.animal-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
  font-weight: bold;
}

.characteristics {
  margin-top: 10px;
}

.characteristics h3 {
  margin-bottom: 5px;
}

.characteristics ul {
  list-style-type: none;
  padding-left: 0;
}

.characteristics li {
  margin-bottom: 5px;
}
